.thermometer-container {
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thermometer-labels-regular {
    display: flex;
    padding: 80px 140px 40px 140px;
    /* border: 1px solid #6c757d65; */
    background-color: var(--background-color);
    border-radius: 200px;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.thermometer-labels-mobile {
    display: none;
}

.thermometer-max,
.thermometer-min {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.thermometer-min {
    margin-top: 25px;
}

.thermometer-value {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.additional-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    margin-top: 20px;
    font-size: 1rem;
    color: #6c757d;
}

.update-button {
    margin-top: 5px;
    /* padding: 10px 20px; */
    background-color: #00000000;
    color: #6c757d;
    font-size: large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.6s ease-in-out;
}

.update-button:hover {
    color: #007bff;
    transform: rotate(360deg);
}

.add-thermometer-button {
    display: flex;
    color: white;
    background-color: #007bff;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-thermometer-button:hover {
    color: white;
    background-color: #0056b3;
}

.add-thermometer-button-mobile {
    display: none;
}

.betesda-logo {
    width: 200px;
}

.thermometer-labels-regular h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .thermometer-labels-regular {
        display: none;
    }

    .thermometer-labels-mobile {
        display: flex;
        padding: 80px 140px 40px 140px;
        /* border: 1px solid #6c757d65; */
        background-color: var(--background-color);
        border-radius: 200px;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    }

    .add-thermometer-button {
        display: none;
    }

    .thermometer-labels-mobile h3 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .add-thermometer-button-mobile {
        display: flex;
        color: white;
        background-color: #007bff;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .add-thermometer-button-mobile:hover {
        background-color: #0056b3;
        transform: scale(1.1);
    }
}